@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --main: rgb(75, 171, 75);
}

/* Mobile Display */
/* Navbar CSS */
nav{
    width: 100%;
    height: 50px;
    background-color: var(--main);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 3;
}

nav ul{
    display: none;
}

nav .hamburger-icons{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

nav .hamburger-icons span{
    width: 40px;
    height: 5px;
    background-color: rgb(231, 255, 231);
    border-radius: 4px;
    transition: all .3s;
}

/* Hamburger Animation */
nav .hamburger-icons span:nth-child(1).icon-1{
    transform-origin: 0 0;
    transform: rotate(45deg);
}

nav .hamburger-icons span:nth-child(2).icon-2{
    transform: scale(0);
    opacity: 0;
}

nav .hamburger-icons span:nth-child(3).icon-3{
    transform-origin: 0 5px;
    transform: rotate(-45deg);
}


/* Navbar Menu CSS */
.menus{
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    transform: translateY(-100%);
    transition: .3s;
    z-index: 2;
}

.menus ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menus ul li{
    list-style: none;   
}

.menus ul li a{
    color: rgb(234, 252, 234);
    text-decoration: none;
    transition: .3s;   
}

.menus ul li a:hover{   
    color: rgb(255, 255, 255);   
}

.slide{
    opacity: 1;
    transform: translateY(0);
}

/* Hero CSS */
header{
    height: 100vh;
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: column;
}

header .hero-desc{
    width: 80%;
    margin: 0 auto;
}

header .hero-desc h2{
    margin-top: 50%;
    color: rgb(252, 252, 252);
    text-align: center;
}

header .hero-desc button{
    font-size: 14px;
    width: 13em;
    height: 3.8em;
    margin-top: 20px;
    margin-left: 20%;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: var(--main);
    color: white;
    box-shadow: 0 10px 20px rgba(75, 171, 75, 0.317);
    transition: .3s;
    font-weight: bold;
}

header .hero-desc button:hover{
    background-color: rgb(63, 141, 63);
}

header .hero-image{
    width: 80%;
    margin: 0 auto;
}

header .hero-image img{
    width: 100%;
    margin-top: 40px;
    transition: .3s;
}

/* h1 CSS */
h1{
    text-align: center;
}

/* Latest Menu CSS */
.latest-menu{
    width: 80%;
    margin: 15px auto 0 auto;
}

.latest-menu .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.latest-menu .menu .menu-image{
    width: 90%;
    margin: 10px auto 0 auto;
}

.latest-menu .menu .menu-image img{
    width: 100%;
    border-radius: 4px;
}

.latest-menu .menu .menu-desc{
    width: 75%;
    margin: 3px auto 0 auto;
}

.latest-menu .menu .menu-desc h3{
    text-align: center;
}

.latest-menu .menu .menu-desc p{
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.latest-menu .menu .menu-desc a{
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--main);
    transition: .3s;
}

.latest-menu .menu .menu-desc a:hover{
    color: rgb(63, 141, 63);
}

.latest-menu .menu:nth-child(3){
    margin-top: 35px;
    margin-bottom: 35px;
}

.latest-menu .menu:nth-child(4) .menu-desc p{
    width: 80%;
}

/* Our Menu Section CSS */
.our-menu{
    width: 70%;
    margin: 50px auto 0 auto;
}

.our-menu .menu-list{
    width: 100%;
    margin: 8px auto 0 auto;
    display: grid;
    grid-template-rows: repeat(4, 30%);
}

.our-menu .menu-list .list{
    width: 80%;
    margin: 0 auto;
}

.our-menu .menu-list .list img{
    width: 100%;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.our-menu .menu-list .list img:hover{
    opacity: 50%;
}

.our-menu .menu-list .list p{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 2px;
}

.our-menu .menu-list .list p strong{
    font-size: 1.5rem;
}

/* Gallery CSS */
.gallery{
    width: 70%;
    margin: 180px auto 0 auto;
}

.gallery .photos{
    width: 100%;
    display: grid;
    grid-template-areas: 
        'photo1'
        'photo2'
        'photo3'
        'photo4'
    ;
    margin-top: 4px;
}

.gallery .photos .location{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gallery .photos .location img{
    width: 100%;
    border-radius: 3px;
}

/* Gallery Area Layout */
.photo-1{
    grid-area: photo1;
}

.photo-2{
    grid-area: photo2;
}

.photo-3{
    grid-area: photo3;
}

.photo-4{
    grid-area: photo4;
}

/* Address CSS */
.address{
    width: 70%;
    margin: 35px auto 0 auto;
}

.address .loc{
    width: 75%;
    margin: 10px auto 15px auto;
    text-align: center;
}

.address .loc .map{
    font-size: 1.2rem;
}

/* Footer CSS */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35);
    color: rgb(246, 246, 246);
    padding: 8px;
}

footer .about-us{
    width: 50%;
    text-align: center;
    margin-top: 10px;
}

footer .about-us ul li{
    margin-top: 10px;
    list-style: none;
}

footer .about-us ul li a{
    color: rgb(205, 205, 205);
    text-decoration: none;
    transition: .3s;
}

footer .about-us ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer .contact-us{
    width: 60%;
    margin-top: 40px;
    text-align: center;
}


footer .contact-us ul{
    list-style: none;
}

footer .contact-us ul li{
    margin-top: 15px;
}

/* Tablet Display */
@media screen and (min-width: 600px) {
    /* Hero CSS */
    header .hero-desc button{
        margin-left: 35%;
    }

    /* Latest Menu CSS */
    .latest-menu{
        width: 80%;
    }

    .latest-menu .menu .menu-image{
        width: 80%;
    }


    /* Gallery CSS */
    .gallery{
        width: 70%;
        margin: 280px auto 0 auto;
    }

}

@media screen and (min-width: 1024px) {
    /* Hero Button CSS */
    header .hero-desc{
        width: 40%;
    }
    
    header .hero-desc h2{
        font-size: 1.7rem;
    }

    header .hero-desc button{
        margin-left: 30%;
    }

    header .hero-image{
        width: 40%;
    }

    /* Gallery CSS */
    .gallery{
        width: 70%;
        margin: 350px auto 0 auto;
    }

    /* Latest Menu CSS */
    .latest-menu{
        width: 75%;
    }

    .latest-menu .menu .menu-image{
        width: 70%;
    }
    
    .latest-menu .menu{
        text-align: center;
    }

}

/* Dekstop Display */
@media screen and (min-width: 1280px) {
    /* h1 CSS */
    h1{
        font-size: 2rem;
    }

    /* Navbar CSS */
    nav{
        background-color: rgb(249, 249, 249);
        justify-content: center;
    }

    nav ul{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    nav ul li{
        list-style-type: none;
    }
    
    nav ul li a{
        color: rgb(37, 37, 37);
        text-decoration: none;
        transition: .3s;
    }
    
    nav ul li a:hover{
        color: var(--main);
        font-weight: bold;
        font-size: 1.5rem;
    }

    nav ul li img{
        width: 80px;
        margin-top: 5px;
        transition: .5s;
    }
    
    nav ul li img:hover{
        width: 200px;
        transform: rotate(360deg);
    }

    /* Hero CSS */
    header{
        flex-direction: row;
    }

    header .hero-desc{
        width: 70%;
        text-align: left;
        margin-left: 60px;
    }

    header .hero-desc h2{
        text-align: left;
        font-size: 2.2rem;
        margin-left: 10px;
        margin-top: 250px;
    }

    header .hero-desc button{
        margin-left: 10px;
        font-size: 16px;
    }

    header .hero-image{
        display: block;
        width: 80%;
    }

    header .hero-image{
        width: 80%;
    }

    header .hero-image img{
        width: 85%;
        margin-top: 140px;
        margin-left: 30px;
        transition: 1s;
        cursor: pointer;
    }

    /* Latest Menu CSS */
    .latest-menu{
        width: 75%;
    }

    .latest-menu .menu .menu-image{
        width: 70%;
    }

    .latest-menu .menu{
        margin-top: 30px;
        flex-direction: row;
    }

    .latest-menu .menu .menu-desc {
        margin-left: 30px;
    }

    .latest-menu .menu .menu-desc h3{
        text-align: left;
        margin-top: 100px;
    }
    
    .latest-menu .menu .menu-desc p{
        text-align: left;
    }
    
    .latest-menu .menu .menu-desc a{
        text-align: left;
        margin-left: -83%;
    }
    
    .latest-menu .menu:nth-child(3) .menu-image{
        order: 2;
    }
    
    .latest-menu .menu:nth-child(3) .menu-desc{
        order: 1;
    }

    /* Our Menu CSS */
    .our-menu{
        width: 87%;
        margin: 100px auto 0 auto;
    }

    .our-menu .menu-list{
        width: 100%;
        margin: 30px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-template-rows: 0;
    }

    .our-menu .menu-list .list p{
        text-align: left;
    }

    /* Gallery CSS */
    .gallery .photos{
        display: grid;
        grid-template-areas: 
            'photo1 photo4 photo3'
            'photo1 photo4 photo2'
        ;

        margin-top: 10px;
        gap: 10px;
    }
    
    .gallery .photos .location img{
        width: 300px;
        border-radius: 3px;
    }

    /* Address CSS */
    .address .loc p{
        font-size: 1.3rem;
    }

    .address .loc address{
        font-size: 1.3rem;
    }

    /* Footer CSS */
    footer{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    footer .about-us, footer .contact-us{
        width: 30%;
        text-align: left;
    }

    footer .contact-us{
        margin-top: 10px;
    }

    footer .about-us h3, footer .contact-us h3{
        font-size: 1.5rem;
    }
    
}

/* 280px display */
@media screen and (max-width: 280px){
    header .hero-desc button{
        margin-left: 10%;
    }
}



